# Frontend
**/node_modules/
**/dist/
**/build/

# Backend Laravel
backend/vendor/
backend/.env
backend/storage/*.key

# Env
.env
.env.local
.env.production

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/